USE [NoroNest_TestsDb]
GO
/****** Object:  Table [dbo].[gds_results]    Script Date: 16.12.2025 11:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gds_results](
	[id] [int] NOT NULL,
	[test_date] [date] NOT NULL,
	[test_duration_minutes] [smallint] NULL,
	[q1_satisfied_with_life] [bit] NULL,
	[q2_dropped_activities] [bit] NULL,
	[q3_life_empty] [bit] NULL,
	[q4_often_bored] [bit] NULL,
	[q5_hopeful_about_future] [bit] NULL,
	[q6_bothered_by_thoughts] [bit] NULL,
	[q7_good_spirits] [bit] NULL,
	[q8_afraid_bad_things] [bit] NULL,
	[q9_happy_most_time] [bit] NULL,
	[q10_often_helpless] [bit] NULL,
	[q11_often_restless] [bit] NULL,
	[q12_prefer_stay_home] [bit] NULL,
	[q13_worry_about_future] [bit] NULL,
	[q14_memory_problems] [bit] NULL,
	[q15_wonderful_to_be_alive] [bit] NULL,
	[q16_often_downhearted] [bit] NULL,
	[q17_feel_worthless] [bit] NULL,
	[q18_worry_about_past] [bit] NULL,
	[q19_life_exciting] [bit] NULL,
	[q20_hard_start_projects] [bit] NULL,
	[q21_full_of_energy] [bit] NULL,
	[q22_situation_hopeless] [bit] NULL,
	[q23_others_better_off] [bit] NULL,
	[q24_upset_about_little_things] [bit] NULL,
	[q25_often_feel_like_crying] [bit] NULL,
	[q26_trouble_concentrating] [bit] NULL,
	[q27_enjoy_getting_up] [bit] NULL,
	[q28_prefer_avoid_social] [bit] NULL,
	[q29_easy_make_decisions] [bit] NULL,
	[q30_mind_clear] [bit] NULL,
	[total_score] [smallint] NOT NULL,
	[depression_category] [varchar](20) NULL,
	[missing_score] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
