USE [NoroNest_TestsDb]
GO
/****** Object:  Table [dbo].[adas_cog_results]    Script Date: 16.12.2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adas_cog_results](
	[id] [int] NOT NULL,
	[test_date] [date] NULL,
	[word_recall_score] [int] NULL,
	[naming_score] [int] NULL,
	[commands_score] [int] NULL,
	[constructional_praxis_score] [int] NULL,
	[ideational_praxis_score] [int] NULL,
	[orientation_score] [int] NULL,
	[word_recognition_score] [int] NULL,
	[remembering_instructions_score] [int] NULL,
	[spoken_language_score] [int] NULL,
	[comprehension_score] [int] NULL,
	[word_finding_score] [int] NULL,
	[delayed_recall_score] [int] NULL,
	[total_score] [int] NULL,
	[missing_score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
