USE [NoroNest_TestsDb]
GO
/****** Object:  Table [dbo].[mmse_results]    Script Date: 16.12.2025 11:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmse_results](
	[id] [int] NOT NULL,
	[test_date] [date] NOT NULL,
	[test_duration_minutes] [smallint] NULL,
	[dominant_hand] [varchar](10) NULL,
	[orientation_time] [smallint] NOT NULL,
	[orientation_place] [smallint] NOT NULL,
	[registration_score] [smallint] NOT NULL,
	[attention_calculation_score] [smallint] NOT NULL,
	[attention_steps_correct] [smallint] NULL,
	[recall_score] [smallint] NOT NULL,
	[naming_score] [smallint] NOT NULL,
	[repetition_score] [smallint] NOT NULL,
	[three_step_command_score] [smallint] NOT NULL,
	[reading_score] [smallint] NOT NULL,
	[writing_score] [smallint] NOT NULL,
	[copying_score] [smallint] NOT NULL,
	[total_score] [smallint] NOT NULL,
	[words_recalled] [nvarchar](500) NULL,
	[words_not_recalled] [nvarchar](500) NULL,
	[sentence_written] [nvarchar](1000) NULL,
	[repetition_response] [nvarchar](500) NULL,
	[reading_response] [nvarchar](500) NULL,
	[diagnosis_category] [varchar](20) NULL,
	[missing_score] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
