USE [NoroNest_TestsDb]
GO
/****** Object:  Table [dbo].[avlt_results]    Script Date: 16.12.2025 11:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avlt_results](
	[id] [int] NOT NULL,
	[test_date] [date] NULL,
	[trial_1_score] [int] NULL,
	[trial_2_score] [int] NULL,
	[trial_3_score] [int] NULL,
	[trial_4_score] [int] NULL,
	[trial_5_score] [int] NULL,
	[interference_score] [int] NULL,
	[short_delay_free_recall] [int] NULL,
	[short_delay_cued_recall] [int] NULL,
	[long_delay_free_recall] [int] NULL,
	[long_delay_cued_recall] [int] NULL,
	[recognition_hits] [int] NULL,
	[recognition_false_positives] [int] NULL,
	[retention_percentage] [decimal](5, 3) NULL,
	[missing_score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
