USE [NoroNest_TestsDb]
GO
/****** Object:  Table [dbo].[moca_results]    Script Date: 16.12.2025 11:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moca_results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[test_date] [date] NOT NULL,
	[visuospatial_score] [int] NULL,
	[naming_score] [int] NULL,
	[attention_score] [int] NULL,
	[language_score] [int] NULL,
	[abstraction_score] [int] NULL,
	[delayed_recall_score] [int] NULL,
	[orientation_score] [int] NULL,
	[total_score] [int] NULL,
	[missing_score] [int] NULL,
 CONSTRAINT [PK_moca_results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
