USE [NoroNest_TestsDb]
GO
/****** Object:  Table [dbo].[katz_adl_results]    Script Date: 16.12.2025 11:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[katz_adl_results](
	[id] [int] NOT NULL,
	[test_date] [date] NOT NULL,
	[test_duration_minutes] [smallint] NULL,
	[bathing_score] [smallint] NOT NULL,
	[dressing_score] [smallint] NOT NULL,
	[toileting_score] [smallint] NOT NULL,
	[transferring_score] [smallint] NOT NULL,
	[continence_score] [smallint] NOT NULL,
	[feeding_score] [smallint] NOT NULL,
	[bathing_response] [nvarchar](500) NULL,
	[dressing_response] [nvarchar](500) NULL,
	[toileting_response] [nvarchar](500) NULL,
	[transferring_response] [nvarchar](500) NULL,
	[continence_response] [nvarchar](500) NULL,
	[feeding_response] [nvarchar](500) NULL,
	[total_score] [smallint] NOT NULL,
	[independence_level] [varchar](20) NULL,
	[missing_score] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
